{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyOWRPa3NHLm2SEFgVdi+6Ap"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"jYaxAv-qmJ7L"},"outputs":[],"source":["streamlit\n","pandas\n","scikit-learn\n","joblib\n","numpy\n"]}]}